@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 60px 10%;
  background-color: #fff;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

input[type="number"] {
  width: 40px;
  font-size: 12pt;
}

button {
  padding: 5px;
  font-size: 12pt;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: .2s;
}

button:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  outline: none;
}

canvas {
  display: block;
  margin: auto;
  border: 1px solid #333;
}

footer {
  font-size: 13pt;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ff004e;
}

.page-title {
  color: #ff004e;
  border-bottom: 1.5px solid #ff004e;
  margin: 15px 0;
  padding-bottom: 5px;
  font-size: 20pt;
  text-align: center;
}

#app {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#parameters h2 {
  margin-bottom: 15px;
  border-bottom: 2px solid #333;
}

.inputs {
  margin: 10px;
}

.info {
  margin-top: 20px;
  padding-left: 0;
  text-align: justify;
}

.info li {
  margin: 5px 0;
}

.commands {
  background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
  padding: 0.1em 0.3em;
  font-family: monospace;
  font-size: 1em;
  border-radius: 0.2em;
  border: 1px solid #aaa;
}
